@charset "UTF-8";
body{
    font-family:'work Sans' Arial, Helvetica, sans-serif;
    /* Medidasa absolutas 
    cm, mm, in, px, pt, pc

    Medidas  Relativas 
    em, ex, rem, vw, vh, %

    16px é o tamanhon da fonte normalmente
    16px gers=almente = 1em
    */
    font-size: 1em ;
    font font-weight: normal ;
    /*Lighter - normal - bold - bolder*/
}
h1{
   
    /*Shorthand
    font-style -> font-weight -> font-size -> font family 
    
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    text-style:italic;
    */
    font: italic bolder 3em 'Work Sans', sans-serif;
}
h2{
    font: bold 2em 'Work Sans';
}